
body {
    font-family: "Century Gothic", "Lucida Grande", "Lucida Console", sans-serif;
}

hgroup {
    font-family: "Calibri", "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff
}

.container {
  padding: 0px 50px;
  margin: 60px auto;
  max-width: 400px;
  height: 800px;
  text-align: center;
}

  .calculator {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .screen {
    width: 90%;
    background-color: hsla(120, 40%, 40%, 0.4);
    padding: 50px 40px;
    box-shadow: 0 20px 65px  hsla(120, 40%, 20%, 0.4);
    position: absolute;
    border-radius: 8px;
    text-align: right;
  }
  .screen:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #ffffff;
    z-index: -1;
    top: -10%;
    left: 10%;
  }
  .screen p {
    color: hsla(120, 40%, 20%, 1);
    line-height: 2;
    font-size: 18px;
  }
  .screen h3 {
    color: #ffffff;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: uppercase;
  }
  .calculator .buttons {
    background-color: #ffffff;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px hsla(120, 40%, 20%, 0.4);
    font-size: 18px;
    font-weight: 600;
    color: hsla(120, 40%, 40%, 1);
    cursor: pointer;
  }

  .calculator .buttons .btn {
    position: absolute;
    
  }

  .calculator .buttons #btn-7 {

  }