* {
  font-family: monospace;
} 

.container {
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.calculator {
  width: 100%;
  height: 412px;
  position: relative;
  background-color: #2d455d;
  box-shadow: 0 5px 25px #000;
  border: 2px solid #0E1E2b;
  border-radius: 8px;
}

.display {
  width: 80%;
  height: 70px;
  max-height: 70px;
  top: 15px;
  margin: auto;
  margin-bottom: 41px;
  padding: 7px 27px 0px 10px;
  position: relative;
  text-align: right;
  overflow: auto hidden;
  white-space: nowrap;
  background-color: #b0d5ce;
  border-radius: 8px;
  box-shadow: inset -0px -18px 7px #9bc2bf;
  border: 3px solid #6c8e96;
  font-size: 50px;
  color: #2d455d;
}

button {
  margin: 0px 3px 20px 18px;
  height: 50px;
  width: 70px;
  font-size: 40px;
  background-color: #dbe3ea;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: #0e1e2b;
  cursor: pointer;
  text-align: center;
  box-shadow: -0px 1px 7px #000;
  position: relative;
}

.calculator .key--equal-clear {
  background-color: hsl(24, 94%, 70%);
  color: #dbe3ea;
}